*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #03001C;
    --font: "DM Sans", sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    color: #fff;
}

h1 {
    font-size: 60px;
}

nav, footer {
    background-color: rgba(0, 0, 0, 0.6);
}

.cursor-pointer{
    cursor: pointer;
}